#myform
{
	display: block;
	font: bold 12px Tahoma;
	color: rgb(14, 114, 122);
	text-shadow: 0.5px 0.5px rgba(14, 114, 122, 0.3);
	margin-top: -10px;
}

#myform li
{
	list-style: none;
}

#name, #pass, #submit1, h1
{
	display: block;
}

.name h1
{
	float: left;
	margin: 10px 20px 10px 10px;
}

.name1 h1
{
	margin-bottom: 15px;
	margin-top: 12px;
}

.name #name
{
	float: left;
	width: 150px;
	margin-left: 50px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px #ffffff;
}

.name #name1
{
	float: left;
	width: 150px;
	margin-left: 36px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px #ffffff;
}

.name #name4
{
	float: left;
	width: 150px;
	margin-left: 54px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px #ffffff;
}

.name #firstfeed, .name #lastfeed, .name #middlefeed, .name #userfeed, .name #emailfeed, .name #phonefeed
{
	width: 150px;
	font: normal 12px Tahoma;
	float: left;
	height: 20px;
	margin-left: 10px;
	padding: 5px;
}

#clear
{
	margin-top: 65px;
	width: 1px;
	height: 1px;
}

.pass h1
{
	float: left;
	margin: 10px 0px 10px 10px;
}

.pass #pass1, .pass #pass2
{
	float: left;
	width: 150px;
	padding: 6px;
	border-radius: 5px;
	box-shadow: 1px 1px #ffffff;
}

.pass #pass1
{
	margin-left: 64px;
}

.pass #pass2
{
	margin-left: 12px;
}

.submit1
{
	margin: 20px 20px 10px 218px; 
}

.submit1 #submit1
{
	float: left;
	padding: 5px 10px 5px 10px;
	font: bold 12px Tahoma;
	border-radius: 10px
}

.img_cap li
		{
			margin-left: 146px;
			width: 150px;
			height: 40px;
			border: 10px solid rgba(14, 114, 122, 0.7);
			border-radius: 5px;
			margin-top: 30px;
		}
		
		.pass #pass3
		{
			float: left;
			width: 62px;
			margin: 15px 20px 10px 5px;
			padding: 6px;
			border-radius: 5px;
			box-shadow: 1px 1px #ffffff;
		}
		
		#move
		{
			margin-top: 25px;
		}
		
.pass, .name
{
	margin-top: 12px;
}

#feedback
{
	margin: 10px 0px 10px 10px;
}

.pass .radio
{
	margin-right: 10px;
	margin-top: 15px;
}

#radio1
{
	margin-left: 15px;
}

#radio2
{
	margin-left: 150px;
}

#right_radio
{
	margin-left: 40px;
}


#radio
{
	margin-left: 38px;
	margin-top: 10px;
}

#radio2
{
	margin-left: 145px;
}

#right_radio1
{
	margin-left: 50px;
}